# Fichiers objets
*.o

# Fichiers binaires
*.exe
*.out

# Fichiers de dépendance
*.d

# Fichiers de sauvegarde d'éditeur de texte
*~

# Fichiers générés par CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Fichiers générés par Visual Studio Code
.vscode/

# Fichiers générés par Xcode
*.xcodeproj/

# Fichiers générés par Qt Creator
build-*/

# Fichiers de configuration spécifiques à l'environnement
*.user
*.suo
*.userprefs
*.xcuserstate
